html {
	background-color: #eeeeff;
}
#scene_list_frame {
	position: absolute;
	top: 25px;
	left: 25px;
	width: 200px;
}
#scene_list {
	padding-left: 0px;
	margin-top: 0px;
}
#scene_list_header {
	margin-bottom: 5px;
}
#scene_list>li {
	border-style: solid;
	border-width: 1px;
	list-style-type: none;
	list-style-position: inside;
	width: 200px;
	height: 20px;
	padding: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}
#scene_list .selected {
	background-color: yellow;
}

#scene_frame {
	position: absolute;
	left: 250px;
	top: 25px;
	width: 320px;
}

#scene_header {
	position: relative;
	width: 320px;
	height: 25px;
	background-color: pink;
}

#scene {
	position: relative;
	left: 0px;
	top: 0px;
	width: 320px;
	height: 212px;
	background-color: black;
	color: white;
	text-align: center;
}

.event_area {
	position: absolute;
	background-color: blue;
	opacity: 0.5;
}

#scene_information {
}
