* {
	margin: 0px;
	padding: 0px;
}

header {
	padding: 5px;
}
#game_title {
	float: left;
}
header #buttons {
	float: right;
}
header #buttons button {
	height: 40px;
	padding: 5px;
	margin: 2px;
}
hr {
	clear: both;
}

#add_scene {
	padding: 3px;
	width: 100px;
	position: absolute;
	top: 65px;
	left: 15px;
}
#scene_list {
	margin: 10px;
	padding: 5px;
	width: 200px;
	height: 500px;
	position: absolute;
	left: 0px;
	top: 80px;
	list-style-type: none;
	overflow-y: scroll;
}
#scene_list .scene_img {
	width: 75px;
	float: left;
}
#scene_list li {
	clear: both;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	height: 50px;
	font-size: small;
	margin-bottom: 3px;
	cursor: pointer;
}
#scene_list li:hover {
	background-color: lightyellow;
}
#scene_list li.select {
	background-color: yellow;
}
#scene_list li .is_first_scene {
	position: relative;
	left: 165px;
	top: 7px;
	width: 25px;
	height: 25px;
	background-image: url("/client/img/start_scene_icon.png");
	display: none;
}

#scene_view {
	position: absolute;
	left: 250px;
}

#scene {
	margin-top: 15px;
	background-color: black;
	width: 320px;
	height: 212px;
}

#scene .event_area {
	position: absolute;
	background-color: blue;
	opacity: 0.5;
	z-index: 700; /* jcrop area が 600 のため */
	cursor: pointer;
}
#scene .event_area.selected {
	border-style: solid;
	border-color: red;
	border-width: 3px;
	margin-left: -3px;
	margin-top: -3px;
}

#scene_info {
}
#scene_info .scene_img {
	width: 75px;
	cursor: pointer;
}
#scene_info button {
	padding: 5px;
	margin: 2px;
}

#event {
	margin-top: 15px;
	position: absolute;
	left: 600px;
}
#event div {
	margin-bottom: 5px;
}
#event input {
	margin-left: 10px;
}

#item_list {
	margin: 10px;
	padding: 5px;
	width: 200px;
	position: absolute;
	left: 0px;
	list-style-type: none;
}
#item_list li {
	clear: both;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
}
#item_list .item_img {
	width: 75px;
	float: left;
}

#item_preview {
	margin-top: 15px;
	position: absolute;
	left: 250px;
	width: 320px;
	height: 213px;
	background-color: black;
}

#item_info {
	position: absolute;
	left: 250px;
	top: 290px;
}
#item_info button {
	padding: 5px;
	margin: 2px;
}