* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: black;
}

#upper {
	width: 320px;
	height: 205px;
}

#item_list {
	width: 290px;
	height: 105px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	list-style-type: none;
}

.item {
	width: 50px;
	height: 50px;
	margin-right: 8px;
	margin-bottom: 5px;
	float: left;
	background-size: 50px 50px;
	background-image: url('/client/runtime/item_background.png');
}

#message {
	width: 290px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 10px;
}

#scene {
	width: 320px;
	height: 212px;
	background-color: black;
	position: relative;
	left: 0px;
	top: 0px;
}

.event {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}