* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: black;
}

#upper {
	width: 320px;
	height: 205px;
}

#item_list {
	width: 290px;
	height: 105px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	list-style-type: none;
}

.item {
	width: 50px;
	height: 50px;
	margin-right: 8px;
	margin-bottom: 5px;
	float: left;
	background-size: 50px 50px;
	background-image: url('/client/runtime/item_background.png');
}
.item.selected {
	background-image: url('/client/runtime/item_background_selected.png');
}

#message {
	width: 280px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 10px;
	font-family: sans-serif;
	padding: 5px;
}
#message .next {
	width: 20px;
	height: 17px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('/client/runtime/next.png');
	position: absolute;
	left: 280px;
	top: 185px;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: next;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}
@-webkit-keyframes next {
	0% { top: 185px; }
	100% { top: 180px; }
}

#scene {
	width: 320px;
	height: 212px;
	background-color: black;
	position: relative;
	left: 0px;
	top: 0px;
}

.event {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}