<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ESCPAE 3DS</title>
		<link rel="stylesheet" href="/client/editor/editor.css"></link>
		<link rel="stylesheet" href="/client/lib/jqueryui/css/overcast/jquery-ui-1.10.3.custom.min.css"></link>
		<link rel="stylesheet" href="/client/lib/jcrop/jquery.Jcrop.min.css"></link>
	</head>
	<body>
		<!-- ヘッダ -->
		<script type="text/template" id="header_view_template">
			<h1 id="game_title"><%= name %></h1>
			<div id="buttons">
				<button id="scene_mode">シーン管理</button>
				<button id="item_mode">アイテム管理</button>
				<a href="/gamelist"><button id="back">ゲーム一覧へ戻る</button></a>
				<button id="save">ゲームを保存</button>
			</div>
			<hr>
		</script>
		
		<!-- シーンリスト -->
		<script type="text/template" id="scene_li_view_template">
			<img class="scene_img" src="<% if(background == '') { %>/client/editor/img/black.png<% } else { %>/download?blobkey=<%= background %><% } %>">
			<div class="scene_name"><%= name %></div>
			<div class="is_first_scene"></div>
		</script>
		
		<!-- シーン設定 -->
		<script type="text/template" id="scene_view_template">
			<div class="dropbox" dropzone="copy f:image/*">
				<div id="scene" style="background-image: url('<% if(background == "") { %>/client/editor/img/black.png<% } else { %>/download?blobkey=<%= background %><% } %>')">
				</div>
			</div>
			
			<div id="scene_info">
				<div>
						シーン名: <input class="scene_name" type="text" value="<%= name %>">
				</div>
				<div><label>ゲーム開始時のシーンにする <input class="is_first_scene" type="checkbox"></input></label></div>
				<div>背景画像:
					<form id="change_scene_img_form">
						<label>
							<input id="change_scene_img" name="file" type="file"></input>
							<div><img class="scene_img" src="<% if(background == '') { %>/client/editor/img/black.png<% } else { %>/download?blobkey=<%= background %><% } %>"></div>
						</label>
					</form>
				</div>
				<div><button id="edit_enter_event">シーン開始時のイベント</button></div>
				<div><button id="edit_leave_event">シーン終了時のイベント</button></div>
				<div><button id="add_event">イベントを追加</button></div>
				<div><button id="copy_scene">シーンをコピー</button><button id="delete_scene">シーンを削除</button></div>
			</div>
		</script>
		
		<!-- イベント -->
		<script type="text/template" id="event_view_template">
			<div id="event">
				<div>
					イベント名: <input class="event_name" type="text" value="<%= name %>"></input>
				</div>
				<div>
					色（開発用）：
					<select id="color">
						<option value="red">赤</option>
						<option value="blue" selected>青</option>
						<option value="green">緑</option>
						<option value="yellow">黄</option>
						<option value="pink">桃</option>
						<option value="purple">紫</option>
						<option value="black">黒</option>
						<option value="white">白</option>
					</select>
				</div>
				<div>
					<div>
						画像
					</div>
						<input id="change_event_img" type="file"></input>
						<div>
							<button id="remove_img">画像を削除</button>
						</div>
					</div>
				<div><button id="remove_event">イベントを削除</button></div>
				<div id="event_editor">
					<div>内容</div>
					<textarea rows="25" cols="35"></textarea>
				</div>
			</div>
		</script>

		<!-- アイテムエディタ -->
		<script type="text/template" id="item_editor_template">
			<button id="add_item">アイテムを追加</button>
		</script>
		
		<!-- アイテムリスト -->
		<script type="text/template" id="item_list_template">
		</script>
		
		<!-- アイテムリストのli要素 -->
		<script type="text/template" id="item_list_item_template">
			<img class="item_img" src="<% if(img == '') { %>/client/editor/img/blank_item.png<% } else { %>/download?blobkey=<%= img %><% } %>">
			<div><%= name %></div>
			<% if(hasFirst) { %>
				<img class="has_first_icon" src="/client/editor/img/has_first_icon.png">
			<% } %>
		</script>
		
		<!-- アイテム(上画面)のプレビュー -->
		<script type="text/template" id="item_preview_template">
			<% _.each(items, function(item) { %>
				<% if(item.get('img') == '') { %>
					<div class="item_img" style="background-image: url('/client/editor/img/blank_item.png')"></div>
				<% } else { %>
					<div class="item_img" style="background-image: url('/download?blobkey=<%= item.get('img') %>')"></div>
				<% } %>
			<% }) %>
		</script>
		
		<!-- アイテムの情報編集ビュー -->
		<script type="text/template" id="item_info_template">
			<div>
				<label>アイテム名:<input type="text" id="item_name" value="<%= name %>"></label>
			</div>
			<div>
				<form id="item_img_form">
					<label>画像: <input name="file" type="file"></input></label>
				</form>
				<div class="item_img">
				</div>
			</div>
			<div>
				<label>最初から持っている: <input id="has_first" type="checkbox" <% if(hasFirst) { %>checked<% } %>></label>
			</div>
			<div>
				<button id="delete_item">アイテムを削除</button>
			</div>
		</script>
	
		<!-- lib -->
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/client/lib/underscorejs/underscore-min.js"></script>
		<script src="/client/lib/backbonejs/backbone.js"></script>
		<script src="/client/lib/jcrop/jquery.Jcrop.min.js"></script>
		
		<!-- model -->
		<script src="/client/editor/model/game.js"></script>
		<script src="/client/editor/model/scene.js"></script>
		<script src="/client/editor/model/scene_list.js"></script>
		<script src="/client/editor/model/event.js"></script>
		<script src="/client/editor/model/event_list.js"></script>
		<script src="/client/editor/model/item.js"></script>
		<script src="/client/editor/model/item_list.js"></script>
		
		<!-- view: scene editor -->
		<script src="/client/editor/view/root.js"></script>
		<script src="/client/editor/view/header.js"></script>
		<script src="/client/editor/view/scene_editor.js"></script>
		<script src="/client/editor/view/scene_list.js"></script>
		<script src="/client/editor/view/scene_list_item.js"></script>
		<script src="/client/editor/view/scene.js"></script>
		<script src="/client/editor/view/event_area.js"></script>
		<script src="/client/editor/view/event_editor.js"></script>

		<!-- view: item editor -->
		<script src="/client/editor/view/item_editor.js"></script>
		<script src="/client/editor/view/item_list.js"></script>
		<script src="/client/editor/view/item_list_item.js"></script>
		<script src="/client/editor/view/item_preview.js"></script>
		<script src="/client/editor/view/item_info.js"></script>
		
		<!-- from datastore -->
		<script>
			var GAME_ID = {{.GameKey}};
			var game = new Game({
				id: 'GAME_ID',
				name: '{{.Game.Name}}',
				description: '{{.Game.Description}}'
			});
			
			// シーンリスト初期化
			game.get('sceneList').add([
				{{range $key, $val := .Scenes}}
					{id: {{$key}}, name: {{$val.Name}}, background: {{$val.Background}}},
				{{end}}
			], {
				silent: true
			});
			
			// アイテムリスト初期化
			game.get('itemList').add([
				{{range $key, $val := .Items}}
					{id: {{$key}}, name: {{$val.Name}}, img: {{$val.Img}}, hasFirst: {{$val.HasFirst}}},
				{{end}}
			], {
				silent: true
			});
		</script>
		
		<script src="/client/editor/functions.js"></script>
		<script src="/client/editor/editor.js"></script>
	</body>
</html>
