<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>EventEditor</title>
		<base href="/client/event_editor/">
		<link rel="stylesheet" href="event_editor.css"></link>
		<link rel="stylesheet" href="../lib/jqueryui/css/jquery-ui.min.css"></link>
	</head>
	<body>
		<script>
			var eventId = {{.id}};
			var code;
			if({{.code}} == '') {
				code = '';
			} else {
				code = JSON.parse({{.code}});
			}
			
			var itemList = {};
			{{range $key, $val := .itemList}}
				itemList["{{$key}}"] = "{{$val.Name}}";
			{{end}}
			
			var sceneList = {};
			{{range $key, $val := .sceneList}}
				sceneList["{{$key}}"] = "{{$val.Name}}";
			{{end}}
		</script>
		
		<!-- lib -->
		<script src="../lib/jquery/jquery-2.0.3.min.js"></script>
		<script src="../lib/jqueryui/js/jquery-ui.min.js"></script>
		<script src="../lib/underscorejs/underscore-min.js"></script>
		<script src="../lib/backbonejs/backbone.js"></script>
		
		<!-- templates -->
		<script id="change_scene_template" type="text/template">
			<div type="changeScene" class="stack block method"><select class="scene"></select><br>へ移動</div>
		</script>
		<script id="add_item_template" type="text/template">
			<div type="addItem" class="stack block method">アイテム<input class="item_name" type="select" size="5">を追加</div>
		</script>
		<script id="remove_item_template" type="text/template">
			<div type="removeItem" class="stack block method">アイテム<input class="item_name" type="select" size="5">を削除</div>
		</script>
		<script id="message_template" type="text/template">
			<div type="message" class="stack block method">メッセージを表示<textarea class="message"></textarea></div>
		</script>
		<script id="hide_template" type="text/template">
			<div type="hide" class="stack block method">イベントを隠す</div>
		</script>
		<script id="show_template" type="text/template">
			<div type="show" class="stack block method">イベントを表示</div>
		</script>
		<script id="remove_template" type="text/template">
			<div type="remove" class="stack block method">イベントを削除</div>
		</script>
		<script id="change_image_template" type="text/template">
			<div type="changeImage" class="stack block method">イベント画像を変更<input class="img" type="file"></div>
		</script>
		<script id="variable_template" type="text/template">
			<div type="variable" class="stack block method">変数<input type="text" size="3">を<input type="text" size="3">にする</div>
		</script>
		<script id="if_template" type="text/template">
			<select class="target"></select><br>
			を<br>
			<select class="conditionType">
				<option value="hasItem">持っている</option>
				<option value="currentItem">選択している</option>
			</select>
		</script>
		
		<!-- main -->
		<script src="/client/lib/functions.js"></script>
		<script src="model.js"></script>
		<script src="view.js"></script>
		<script src="event_editor.js"></script>
	</body>
</html>