<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=320">
		<title>RUNTIME</title>
		<link rel="stylesheet" href="/client/runtime/runtime.css"></link>
	</head>
	<body>
		<script> var data = JSON.parse({{.}});</script>

		<script src="/client/lib/jquery/jquery-2.0.3.min.js"></script>
		<script src="/client/lib/underscorejs/underscore-min.js"></script>
		<script src="/client/lib/backbonejs/backbone.js"></script>

		<script src="/client/runtime/model.js"></script>
		<script src="/client/runtime/view.js"></script>
		<script src="/client/runtime/runtime.js"></script>		
	</body>
</html>