* {
	margin: 0px;
	padding: 0px;
}

html, body, #root {
	height: 100%;
	width: 100%;
}

#event_view {
	width: 80%;
	height: 100%;
}
#event_view #start {
	margin-top: 15px;
}
#event_view .stack {
	width: 50px;
	margin-left: auto;
	margin-right: auto;
}
#event_view .circle {
	background-color: white;
	border-style: solid;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	text-align: center;
	font-size: 45px;
}
#event_view .line {
	width: 5px;
	height: 5px;
	background-color: black;
}
#event_view .connector {
	width: 75px;
	height: 15px;
	padding: 5px;
	border-style: dashed;
	border-color: gray;
	border-radius: 5px;
	background-color: lightgray;
	font-family: sans-serif;
	font-size: x-small;
	text-align: center;
	line-height: 15px;
	opacity: 0.5;
	-webkit-transition-duration: 0.3s;
	-khtml-user-drag: element;
}
#event_view .connector-hover {
	width: 150px;
	height: 50px;
	background-color: yellow;
	border-color: red;
	-khtml-user-drag: element;
}
#event_view .block {
	width: 150px;

}
#event_view .block.method {
	height: 50px;
	padding: 5px;
	background-color: white;
	border-style: solid;
	border-radius: 5px;
	overflow: scroll;
	cursor: move;
}
#event_view .if_container {
	width: 50%;
}
#event_view .if_header {
	width: 100%;
	height: 100px;
	position: relative;
}
#event_view .if_body {
	width: 100%;
	position: relative;
}
#event_view .if_footer {
	width: 100%;
	height: auto;
	position: relative;
}
#event_view .block.if {
	height: 100px;
	width: 150px;
	background-image: url("/client/event_editor/if.png");
	background-position: center;
	background-repeat: no-repeat;
	line-height: 100px;
	text-align: center;
	position: relative;
	z-index: 1;
}
#event_view .start_if_line {
	width: 100%;
	height: 50px;
	border-bottom-style: solid;
	border-width: 5px;
	position: absolute;
	top: 0px;
}
#event_view .if_line_container {
	height: 50px;
	width: 100%;
	position: absolute;
	top: 50px;
}
#event_view .if_header .if_line_container {
	height: 50px;
	width: 100%;
	position: absolute;
	top: 50px;
}
#event_view .if_footer .if_line_container {
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0px;
}
#event_view .if_line_container.left {
	left: -50%;
}
#event_view .if_line_container.right {
	right: -50%;
}
#event_view .if_line_container .line {
	height: 50px;
}
#event_view .stack.if_container_left {
	width: 100%;
	position: relative;
	left: -50%;
}
#event_view .stack.if_container_right {
	width: 100%;
	position: absolute;
	top: 0px;
	right: -50%;
}
#event_view .end_if_line {
	height: 45px;
	width: 100%;
	border-width: 5px;
	border-top-style: solid;
	position: relative;
	top: 45px;
}

#block_list_view {
	float: right;
	width: 180px;
	background-color: gray;
	height: 100%;
	position: fixed;
	right: 0px;
	top: 0px;
}
#block_list_view .label{
	font-size: large;
	color: white;
}
#block_list_view .block {
	padding: 5px;
	margin: 5px;
	width: 150px;
	cursor: move;
	text-align: center;
}
#block_list_view .block:hover {
	background-color: yellow;
}
#block_list_view .block.method {
	border-style: solid;
	background-color: white;
	height: 50px;
	border-radius: 5px;
	line-height: 50px;
}
#block_list_view .block.if {
	padding: 5px;
	margin: 5px;
	height: 100px;
	background-image: url("/client/event_editor/if.png");
	background-position: center;
	background-repeat: no-repeat;
	line-height: 100px;
}
#block_list_view .close {
	width: 75px;
	height: 30px;
	float: right;
	margin-top: 20px;
	margin-right: 15px;
	cursor: pointer;
}
#block_list_view .close:hover {
	background-color: gray;
	color: white;
}

.ui-draggable-dragging {
	opacity: 0.8;
}