* {
	margin: 0px;
}

html, body, #root {
	height: 100%;
	width: 100%;
}

#event_view {
	width: 80%;
	height: 100%;
}
#event_view #start {
	margin-top: 15px;
}
#event_view .stack {
	width: 50px;
	margin-left: auto;
	margin-right: auto;
}
#event_view .circle {
	background-color: white;
	border-style: solid;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	text-align: center;
	font-size: 45px;
}
#event_view .line {
	width: 0px;
	height: 5px;
	border-style: solid;
}
#event_view .connector {
	width: 75px;
	height: 15px;
	padding: 5px;
	border-style: dashed;
	border-color: gray;
	border-radius: 5px;
	background-color: lightgray;
	font-family: sans-serif;
	font-size: x-small;
	text-align: center;
	line-height: 15px;
	opacity: 0.5;
	-webkit-transition-duration: 0.3s;
	-khtml-user-drag: element;
}
#event_view .connector-hover {
	width: 150px;
	height: 50px;
	background-color: yellow;
	border-color: red;
	-khtml-user-drag: element;
}
#event_view .block {
	width: 150px;
	height: 50px;
	padding: 5px;
	background-color: white;
	border-style: solid;
	border-radius: 5px;
	overflow: scroll;
}

#block_list_view {
	float: right;
	width: 180px;
	background-color: gray;
	height: 100%;
	position: fixed;
	right: 0px;
	top: 0px;
}
#block_list_view .label{
	font-size: large;
	color: white;
}
#block_list_view .block {
	padding: 5px;
	margin: 5px;
	background-color: white;
	border-style: solid;
	border-radius: 5px;
	width: 150px;
	height: 50px;
	cursor: move;
}
#block_list_view .block:hover {
	background-color: yellow;
}
#block_list_view .close {
	width: 75px;
	height: 30px;
	float: right;
	margin-top: 20px;
	margin-right: 15px;
}
#block_list_view .close:hover {
	background-color: gray;
	color: white;
}

.ui-draggable-dragging {
	opacity: 0.8;
}